body {
    background-color: darkgrey;
}

#name, #email, #phone {
    text-align: center;
    color: white;
    padding-bottom: 15px;
}

#name {
    padding-top: 50px;
}

.row{
    width: 100%;
}

#links {
    margin-top: 30px;
    padding: 30px;
    background-color: brown;
    border-radius: 30px;
}

#header {
    background-image: url(images/stockvault-waves.jpg);
}
